/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/* Custom style */
@body-color: rgb(79, 146, 209);
@font-color: rgba(71, 66, 65, 0.945);
@form-botton-bg: rgb(21, 18, 26);

body {
    background-color: @body-color;
}

a {
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 1.45rem;
}
.main-wrapper {
    margin: 0 auto;
    width: 1000px;
}

header {
    nav {
        width: 100%;
        height: 60px;
        ul {
            float: left;

            li {
                list-style: none;
            }

            a {
                font-family: arial;
                font-size: 16px;
                color: @font-color;
                line-height: 63px;
            }
        }
    }

    .nav-login {
        float: right;

        form {
            float:left;
            padding-top: 15px;

            input {
                float:left;
                width: 140px;
                height: 30px;
                padding: 0px 10px;
                margin-right: 10px;
                font-size: 14px;
                border: none;
                line-height: 30px; 
            }
        }
    }

    background-color: #fff;
}

/*Signup.php*/

.signup-form {
    width: 500px;
    margin: 0 auto;
    padding-top: 30px;

    input {
        width: 90%;
        height: 40px;
        padding: 0px 5%;
        margin-right: 10px;
        margin-bottom: 4px;
        font-size: 16px;
        border: none;
        line-height: 40px; 
    }

    button {
        display: block;
        margin: 0 auto;
        width: 30%;
        height: 40px;
        font-size: 16px;
        background-color: grey;
        border: none;
        line-height: 40px; 
        color: white;
        cursor: pointer;
    }

    button:hover {
        background-color: @form-botton-bg;
    }
}